:root {
    --primary: #fffaf1;
    --secondary: #ffffff;
    --accent: #3b5249;
}

body{
    font-family: 'Merriweather', serif;
    background-color: var(--primary);
}

#main_block{
    width: 50%;
}

.side_block{
    width: 25%;
}

@media only screen and (max-width: 900px) {
    .side_block{
        width: 10%;
    }
    #main_block{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .side_block{
        width: 2%;
    }
    #main_block{
        width: 96%;
    }
}