:root {
    --primary: #fffaf1;
    --secondary: #ffffff;
    --accent: #3b5249;
}

body{
    width: 100%;
    font-family: 'Merriweather', serif;
    background-color: var(--primary);
}

#blog_block{
    width: 50%;
}

#main_container{
    display: flex;
    flex-wrap: wrap;
}

.side_block{
    width: 25%;
}

.individual_blog{
    background-color: var(--accent);
    border-radius: 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
}

.blog_title{
    color: var(--primary);
    text-align: center;
    margin-top: 50px;
    margin-bottom: 0px;
    padding-top: 50px;
}

.blog_date{
    text-align: center;
    margin-top: 10px;
    color: var(--secondary)
}

.blog_blurb{
    color: var(--primary);
    text-align: justify;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}