:root {
    --primary: #fffaf1;
    --secondary: #ffffff;
    --accent: #3b5249;
}

body{
    font-family: 'Merriweather', serif;
    background-color: var(--primary);
}

#blog_block{
    width: 50%;
}

#main_container{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
}

.side_block{
    width: 25%;
}

.individual_blog{
    background-color: var(--secondary);
    border-radius: 10px;
    margin-left: 0 auto;
    margin-right: 0 auto;
    padding-top: 50px;
    padding-right: 20px;
    padding-left: 20px;
    text-align: center;
}

.blog_image{
    width: 50%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.blog_title{
    color: var(--accent);
    font-size: 32px;
    text-decoration: none;
}

.blog_title:hover{
    text-decoration: underline;
    cursor: pointer;
}

.blog_date{
    margin-top: 10px;
    color: var(--accent)
}

.blog_blurb{
    color: #000000;
    padding-top: 20px;
    padding-left: 50px;
    padding-bottom: 50px;
    padding-right: 50px;
}

.blog_blurb_2{
    text-align: left;
}

@media only screen and (max-width: 900px) {
    .side_block{
        width: 10%;
    }
    #blog_block{
        width: 80%;
    }
}

@media only screen and (max-width: 600px) {
    .side_block{
        width: 2%;
    }
    #blog_block{
        width: 96%;
    }
}